<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+PE:wght@100..400&display=swap" rel="stylesheet">
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Quiz Game</title>
     <link rel="stylesheet" href="style.css" />

     <nav>
        <div class="logo"> Quiz Game </div>
        <div class="navbar">
            <ul type="none" class="navbox" >
                <li> <a href="/" class="nav">Home </a></li>
                <li> <a href="/play" class="nav">Play </a></li>
                <li> <a href="/Instructions" class="nav">Instructions </a></li>
                <li> <a href="/Results" class="nav">Result </a></li>
                <li> <a href="/contact" class="nav">Contact </a></li>
            </ul>
        </div>
    </nav>
</head>
<body>
   

    
</body>
</html>