<%- include("./partials/header.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="icon" href="/Styles/favicon.ico" sizes="32x32" type="image/x-icon">
    <link rel="stylesheet" href="Styles/style.css"\>
</head>
<body>
    <div class="contact-container">
        <h1>Contact Us</h1>
        <p>Any Suggestions regarding How to improve our application is Welcomed!!</p>
    <div class="contact-info">
        <h2>Email</h2>
        <p><a href="mailto:harshaldp23hcompe@student.mes.ac.in">harshaldp23hcompe@student.mes.ac.in</a></p>
    </div> 
</body>
</html>
<%- include("./partials/footer.ejs") %>